<section id="online_demo">
   <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <div class="container">
        <div class="row">
            <div class="col-lg-20 col-lg-offset-1">
                <div class="text-center">
                    <h2 class="section-heading">Temporal Transductive Inference for Few-Shot Video Object Segmentation</h2>
                    <hr class="primary">
                </div>

                <!-- <p> Online demo tool soon ...</p>--!>
                    <br><br>
                    <div class="tab">
                      <button class="tablinks" onclick="openTab(event, 'TrainingData')">Training Data</button>
                      <button class="tablinks" onclick="openTab(event, 'TestData')">Test Data</button>
                    </div>

                    <div id="TrainingData" class="tabcontent">
                      <p style="font-size:18px;">Please specify the base classes and upload the support set image-label pairs.</p>
                      <h3 class="text-primary">Training Classes</h3>
                      <p style="font-size:18px;">Select from four folds, each fold contain certain set of classes already trained on (base classes).</p>
                      <table class="mytable">
                      <tr>
                          <th class="myth" style="font-size:18px;"><br><br> Base Classes List: <br><br>
                          <textarea id="classlistarea" style="font-size:14px;" rows="30" cols="20" disabled>
                          </textarea>

                          </th>
                        <th class="myth">
                            <br><br>
                            <div class="dropdown">
                              <button onclick="myFunction()" class="dropbtn">Fold List</button>
                              <div id="myDropdown" class="dropdown-content">
                                <a onclick="fold1()">1</a>
                                <a onclick="fold2()">2</a>
                                <a onclick="fold3()">3</a>
                                <a onclick="fold4()">4</a>
                              </div>
                            </div>
                        </th>
                      </tr>
                      </table>

                      <h3 class="text-primary">Support Set</h3>
                      <p style="font-size:18px;">Upload Images for the novel class or Use sample.</p>
                      <table class="mytable">
                      <tr>
                          <th class="mysmallth">
                            <input id="file-input" type="file" multiple>
                            <div id="preview"></div>
                          </th>
                            <th class="mysmallth">
                                <button type="button" onclick="useSampleSprt()">Sample</button>
                            </th>
                    </tr>
                    </table>
                    <p style="font-size:18px;">Upload Corresponding Masks if you have uploaded the images.</p>
                    <p style="font-size:18px;"> If using a sample no masks are required.</p>
  
                        <table class="mysmalltable">
                          <tr>
                              <th class="mysmallth">
                                <input id="file-input-mask" type="file" multiple>
                                <div id="preview-mask"></div>
                              </th>
                        </tr>
                       </table>
  
                    </div>

                    <div id="TestData" class="tabcontent">
                      <p style="font-size:16px;">Please upload the test video frames Or use a sample then press submit.</p>
                     </table>
                        <table class="mysmalltable">
                          <tr>
                              <th class="mysmallth">
                                <input id="file-input-qry" type="file" multiple>
                                <div id="preview-qry"></div>
                              </th>
                            <th class="mysmallth">
                                <button type="button" onclick="useSampleQry()">Sample</button>
                            </th>

                        </tr>
                        <tr>
                            <th class="mysmallth">
                                <button type="button" onclick="callTTI()">Submit</button>
                            </th>
                            <th class="mysmallth">
                                <input type="text" id="submitted" style="font-size:12px;" disabled>
                                </input>
                            </th>
                        </tr>
                        <tr>
                            <div id="preview-predictions"></div>
                        </tr>
                       </table>

                        

                    </div>

            <script src="js/tab.js"></script>
            <script src="js/combo.js"></script>
            <script src="js/browse.js"></script>
            <script src="js/submit.js"></script>
            <script src="js/use_sample.js"></script>

            </div>
        </div>
    </div>
</section>
