<section class="bg-dark" id="task">
    <div class="container">
        <div class="row">
            <div class="col-lg-20 col-lg-offset-1">
                <div class="text-center">
                    <h2 class="section-heading">Video Class Agnostic Segmentation Benchmark</h2>
                    <hr class="light">
                </div>
                <p class="text-faded">Video class agnostic segmentation is the task of segmenting objects without regards to its semantics combining appearance, motion and geometry from monocular video sequences. The main motivation behind this is to account for unknown objects in the scene and to act as a redundant signal along with the segmentation of known classes for better safety as shown in the following Figure.</p>
                <p></p>
                    <img src="img/teaser.png" class="center" alt="">
                <p class="text-faded">There are two main formulation for this problem, we provide a benchmark with these two main tracks </p>
                <div>
                <div class="text-center">
                    <a href="#motseg" class="btn btn-default btn-xl text-center">Motion Segmentation Track</a>
                    <a href="#openset" class="btn btn-default btn-xl text-center">Open-set Segmentation Track</a>
                    <a href="https://www.youtube.com/embed/c9hMFHdTs6M" class="btn btn-default btn-xl text-center">Demo</a>
                </div>
 
                <p class="text-faded"> </p>
            </div>
        </div>
    </div>
</section>
